<body>
    <header class="header">
        <div class="logo">
            <img src="" alt="logoERP">
        </div>
        <nav>
            <ul>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
            </ul>
        </nav>
        <a href="#" class="btn"><button>Contact</button></a>
        <a onclick="openNav()" href="#" class="menu"><button>Menu</button></a>
        <div class="overlay" id="mobile-menu">
            <a href="#" onclick="closeNav()" class="close">&times;</a>
            <div class="overlay-content">
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
            </div>
        </div>

    </header>
</body>
