@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;

}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
input{
  display: block;
  width: 100%;
}
span{
  display: block;
  color: red;
  font-size: x-small;
}
.container{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.redes{
  background: linear-gradient(#8E94F2, #9FA0FF, #9FD8CB, #BBDFC0);
}
form{
  text-align: center;
  padding: 1cm;
}
.subtitle{
  color: #686363;
}
.title{
font-size:xx-large;
padding: 0;
margin: 0;
}
.margin-top1{
  margin-top: 0.5rem;
}
.submit-button{
  background-color: #01295F;
  color: white;
  width: 100%;

}
a{
  color: black;
  text-decoration: none;
}
.containerA{
  width: 100%;
  text-align: right;
}
.redireccion{
  font-size: small;
}
.elemento-lista{
  font-size: small;
}
ul {
  list-style: none;
  
}
.redes{
  padding: 1cm;
}
