<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/login.css">
    <title>ERP Certificados</title>
</head>
<body>
    <div class="contenedor">
        <div class="img">

        </div>
        <div class="form">

            <div class="formLogin">
                <h1>Iniciar Sesion</h1>
                <div class="containerEmail">
                    <input placeholder="Email" type="email" name="" id="">
                </div>
                <div class="containerPassword">
                    <input placeholder="Contraseña" type="password" name="" id=""><br>
                </div>
                <button type="submit">Ingresar</button>
            </div>
            
        </div>
    </div>
</body>
</html>