<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/login.css">
    <title>ERP Certificados</title>
</head>
<body>
    <div class="contenedor">
            <div class="formLogin" >
                <form action="" method="post">
                    <h1>Iniciar Sesion</h1>
                    <input placeholder="Email" type="email" name="" id="">
                    <input placeholder="Contraseña" type="password" name="" id=""><br>
                    <button type="submit">Ingresar</button>  
                </form>
        </div>
    </div>
</body>
</html>